
.today {
  border: solid, bolder, rgb(55, 47, 73);
  border: 50rem;
  margin-right: -100px;
}
  
.nav {
  object-position: initial;

  font-size-adjust: initial;
}

P.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

h3{
  font-family: inherit;
}

.forecast-day{
  padding-block: 10px;
  margin: 40px;
}

.searchHist{
  display: block;
  margin-left: auto;
  margin-right: auto
}